<div id='calendar' style="margin-bottom: 30px"></div>
<%= render 'orders/new', item: @item %>
<script type="text/javascript">
  $(document).ready(function(){
    var modal = $("#orderModal");
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month'
      },
      selectable: true,
      selectHelper: true,
      lazyFetching: true,
      select: function(start, end, allDay){
        var form = modal.find("form");
        form.find('.start_date_input').val(start.getDate() + '-' + (start.getMonth()+1) + '-' + start.getFullYear());
        form.find('.end_date_input').val(end.getDate() + '-' + (end.getMonth()+1) + '-' + end.getFullYear());
        $("#orderModal").modal('show');
      }
    })
  });
</script>