body {
  overflow-y: scroll;
  background: #E1F1F4 url(/assets/bg.png);
}

.main {
  margin-top: 60px;
  margin-bottom: 10px;
  padding: 20px;
  background: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
}

.footer {
  margin-bottom: 40px;
}

.navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 980px;
}

.fc-header-title h2{
  font-size: 24px;
}

th.fc-widget-header {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #B5BABF), color-stop(100%, #7B8590));
  background: -webkit-linear-gradient(#B5BABF, #7B8590);
  background: -moz-linear-gradient(#B5BABF, #7B8590);
  background: -o-linear-gradient(#B5BABF, #7B8590);
  background: linear-gradient(#B5BABF, #7B8590);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: white;
  border-color: #7B8590;
  line-height: 24px;
}